.card {
  padding: 2rem 5rem;
  border-radius: 0.5rem;
  border: 1px solid #000;
  cursor: pointer;
}

.cardTitle {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: #c1292e;
  text-transform: capitalize;
}

.text {
}
